/* cards general styles */
.card-item div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 1s;
  backface-visibility: hidden;
}

.card-content-item.bold {
  color: black;
  font-weight: 700;
  padding: 20px;
}

.card-item {
  position: relative;
  overflow-y: hidden;
}
.card-front {
  color: white;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  color: #fff;
}
.card-front p {
  margin: auto;
}
.card-back {
  background-color: white;
}
.card-js-front p,
.card-php-front p {
  color: black;
}
.card-qa-front p,
.card-net-front p {
  font-size: 60px;
}
.card-events-front p,
.card-contacts-front p,
.card-blog-front p {
  font-size: 14px;
}
.card-java-front p {
  font-size: 25px;
}
.card-js-front p {
  margin: auto 5px 0 auto;
  font-size: 80px;
  font-weight: 900;
}
.card-php-front p {
  font-size: 45px;
  font-style: italic;
}
.card-events-back p,
.card-blog-back p {
  padding: 20px;
}

/* java card */
.java {
  grid-area: java;
}
.card-java-front {
  z-index: 1;
  color: #fff;
  font-size: 3vw;
  font-weight: 500;
  background: #e12c4c;
}

.java:hover > .card-java-front {
  transform: translateY(100%);
}

/* js card  */

.js {
  perspective: 1000;
  grid-area: js;
}
.card-js-front {
  background-color: #f8d069;
}
.card-bs-front img {
  height: 110px;
  width: auto;
  margin: auto;
}
.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: space-around;
}

.flip-card:hover .flip-card-front {
  transform: rotateY(180deg);
}
.flip-card:hover .flip-card-back {
  transform: rotateY(360deg);
}

/* events card */

.events {
  grid-area: events;
}

.card-events-front {
  background-color: #2d99fe;
}

.events:hover .card-events-front {
  transform: translateX(100%);
}

.card-events-back {
  overflow: auto;
}

/* contacts card */

.contacts {
  grid-area: contacts;
}
.card-contacts-back {
  display: flex;
  justify-content: center;
}
.contact-icon-wrp {
  align-self: center;
}
.contact-icon {
  margin-left: 10px;
  font-size: 24px;
  color: #00265e;
}
.contact-icon:hover {
  color: #2d99fe;
}

.card-contacts-front {
  background-color: #00265e;
}

.contacts:hover .card-contacts-front {
  transform: translateX(100%);
}

/* blog card */

.blog {
  grid-area: blog;
}
.card-blog-front {
  background-color: #0544a3;
}
.card-blog-back {
  background: white;
}
.blog:hover .card-blog-front {
  transform: translateX(100%);
}

/* qa card */

.qa {
  grid-area: qa;
}
.card-qa-front {
  background-color: #52bf77;
}
.join-btn {
  width: 95px;
  height: 40px;
  color: #fff;
  align-self: center;
  background-color: rgb(77, 154, 247);
  border-radius: 5px;
}
.join-btn:hover {
  cursor: pointer;
  background-color: rgb(24, 69, 158);
}

/* bsa card */

.bsa {
  grid-area: bsa;
}
.card-bsa-front {
  background-color: #fff;
}

/* net + php card */

.net {
  grid-area: net;
}
.card-net-front {
  background-color: #642177;
  transform-origin: bottom right;
  transition-duration: 0.3 s;
}
.php {
  grid-area: php;
}

.card-php-front {
  background-color: #8892bf;
  transform-origin: top right;
  transition-duration: 0.3 s;
}

.net:hover > .card-net-front,
.php:hover > .card-php-front {
  transform: scale(0);
}
.header-animated {
  animation: text-animated 0.5s;
}
@keyframes text-animated {
  from {
    font-size: 0;
  }
  to {
    font-size: 1rem;
  }
}
