header {
  background-color: #fff;
  height: 50px;
  display: grid;
  z-index: 3;
  grid-template-columns: 10fr 0.5fr 0.5fr;
  animation: header-appear 0.5s;
  width: 70%;
  position: fixed;
  padding-left: 15%;
  padding-right: 15%;
}
.fa-bell {
  margin: auto;
  margin-right: 0;
  font-size: 20px;
  color: rgb(195, 201, 214);
}
.fa-bell:hover {
  cursor: pointer;
  color: rgb(157, 165, 176);
}

.logo {
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

/* navigation */
nav {
  display: flex;
  margin-block-start: -13px;
  justify-content: flex-end;
}
#menu-toggle {
  opacity: 0;
}
.menu-btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 35px;
  background-color: rgb(248, 154, 27);
  border-radius: 50%;

  cursor: pointer;
  z-index: 1;
}
.menu-btn > span {
  margin: auto;
  color: #fff;
}
.menu-box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 45;
  right: -100%;
  width: 130px;
  margin-top: 5px;
  padding: 5px 24px;
  list-style: none;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
.user-name {
  color: #abb5bf;
  border-bottom: 1px solid #abb5bf;
  padding-bottom: 5px;
}
.menu-item {
  display: block;
  padding: 7px;
  color: #333;
  font-family: "Roboto", sans-serif;
  text-align: left;
  text-decoration: none;
}
.menu-item:hover {
  background-color: #f8f9fc;
}

#menu-toggle:checked ~ .menu-box {
  visibility: visible;
  right: 15%;
}
.menu-box:first-child {
  padding: 0px 20px;
}
.menu-btn:hover {
  background-color: rgb(237, 145, 53);
}

@keyframes header-appear {
  from {
    top: -15%;
  }
  to {
    top: 0;
  }
}
