* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  background-color: #f8f9fc;
  font-family: sans-serif;
}
html {
  font-size: 16px;
}
footer {
  height: 10vh;
  display: flex;
  justify-content: center;
}
.footer-content {
  margin: auto;
  margin-bottom: 10px;
}
main {
  height: 80vh;
  width: 70%;
  padding-top: 80px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "bsa bsa js js php php php php php"
    "bsa bsa js js php php php php php"
    "bsa bsa js js php php php php php"
    "bsa bsa js js net net net events events"
    "qa qa js js net net net events events"
    "qa qa js js net net net blog blog"
    "qa qa java java net net net blog blog"
    "qa qa java java net net net contacts contacts";
}
@media (max-width: 965px) {
  main {
    grid-template-areas:
      "bsa js js events"
      "bsa js js blog"
      "bsa js js contacts"
      "java java php php"
      "qa qa net net";
    grid-template-columns: 5fr 1fr 3fr 3fr;
    grid-template-rows: 1fr 1fr 0.7fr 1fr 1fr;
  }
}
