.push-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
  z-index: 1;
  color: white;
  min-width: 170px;
  width: 20rem;
}
.push-item {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}
.error-item {
  background-color: rgba(225, 44, 76, 0.8);
}
.success-item {
  margin-top: 20px;
  background-color: rgba(82, 191, 119, 0.8);
}
.push-icon-wrap i {
  font-size: xx-large;
}

.push-icon-wrap {
  margin-right: 1rem;
}
.push-body-wrap {
  display: flex;
  flex-direction: column;
}
.push-header {
  font-weight: 800;
}
